body {
  background-color: #282c34;
}
a {
  color: lightgrey;
}

.App {
  text-align: center;
  color: lightgrey;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 2px solid rgb(87, 1, 1);
  padding-top: 3px;
  padding-bottom: 3px;
}

h1 {
  color: white;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

.App-link {
  color: #09d3ac;
}

.awt-header {
  width: 100%;
  background-color: rgb(112, 1, 1);
  border-bottom: 2px solid rgb(87, 1, 1);
  font-weight: bold;
  font-size: 14px;
  color: lightgrey;
}
.awt-day-header {
  width: 100%;
  background-color: darkgrey;
  color: darkred;
  border-bottom: 1px solid rgb(87, 1, 1);
  font-weight: bold;
}
.awt-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.awt-col-header {
  font-weight: bold;
}
.awt-row-header {
  font-weight: bold;
}
.awt-rules {
  text-align: left;
  padding: 40px;
}
.team-header {
  width: 100%;
  background-color: rgb(112, 1, 1);
  border-top: 2px solid rgb(87, 1, 1);
  border-bottom: 2px solid rgb(87, 1, 1);
  font-weight: bold;
  font-size: 14px;
  color: lightgrey;
}
.teams-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.teams-row-header {
  width: 100%;
  background-color: darkgrey;
  color: darkred;
  border-bottom: 1px solid rgb(87, 1, 1);
  font-weight: bold;
}
.team-results {
  vertical-align: text-top;
  text-align: left;
}
.team-detail-row-header {
  width: 100%;
  border: 3px solid rgb(87, 1, 1);
  font-weight: bold;
  background-color: rgb(51, 49, 49);
}

.team-detail-column-header {
  border: 3px solid rgb(87, 1, 1);
  font-weight: bold;
}

.cell-left {
  text-align: left;
}
.import-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}
.runners-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}
.team-name a {
  font-weight: bold;
  color: rgb(218, 32, 32);
}
